<!DOCTYPE html>
<html language="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASF Secretary-Assistant Workbench</title>
    <% # Bootstrap %>
    <link rel="stylesheet" href="<%= url('third_party/bootstrap/dist/css/bootstrap.min.css') %>">
    <link rel="stylesheet" href=<%= url('css/main.css')%> >
  </head>
  <body>
    <% # Jquery and Bootstrap %>
    <script src="<%= url('third_party/jquery/dist/jquery.min.js') %>"></script>
    <script src="<%= url('third_party/bootstrap/dist/js/bootstrap.min.js') %>"></script>
    <script src="<%= url('third_party/react/react.min.js') %>"></script>

    <script src="<%= url('js/sockets.js') %>"></script>

    <% # Actual layout %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ASF Whimsy (find a logo to put here)</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= url('secretary/upload') %>">Upload a File</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <%= erb :nav_header %>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
